*#*
*-pkg.el
*-pkg.el
*.elc
*.orig
*~
.cask/
.yas-compiled-snippets.el
.yas-compiled-snippets.el
/.mc-lists.el
/.mc-lists.el
/.testrun
/.testrun
/abbrev_defs
/abbrev_defs
/emojis/*
/emojis/*
/ensime/*
/ensime/*
/flycheck_custom.el
/flycheck_init.el
/forge-database.sqlite
/forge-database.sqlite
/ido.last
/ido.last
/network-security.data
/network-security.data
/recentf
/recentf
/smex-items
/smex-items
/transient/history.el
/url/cache/*
/url/cache/*
TAGS
TAGS
ac-comphist.dat
anaconda-mode/*
anaconda-mode/*
auto-save-list
bookmarks
ede-projects.el
elpa
eshell/
flycheck_*.el
flycheck_*.el
magithub/*
magithub/*
projectile-bookmarks.eld
projectile-bookmarks.eld.mc-lists.el
projectile.cache
semanticdb/
session.*
snippets/*/Apache-2.0
snippets/*/GPLv2+
snippets/*/GPLv3+
snippets/*/MIT
transient/*
