*#*
*.elc
*.orig
*~
.cask/
.mc-lists.el
ac-comphist.dat
auto-save-list
bookmarks
ede-projects.el
elpa
eshell/
projectile-bookmarks.eld
projectile-bookmarks.eld.mc-lists.el
projectile.cache
semanticdb/
session.*
srecode-map.el
tramp
/flycheck_init.el
