*#*
*.elc
*.orig
*~
.cask/
.mc-lists.el
ac-comphist.dat
auto-save-list
bookmarks
ede-projects.el
elpa
eshell/
projectile-bookmarks.eld
projectile-bookmarks.eld.mc-lists.el
projectile.cache
semanticdb/
session.*
srecode-map.el
tramp
/flycheck_init.el
/flycheck_custom.el
snippets/*/Apache-2.0
snippets/*/GPLv2+
snippets/*/GPLv3+
snippets/*/MIT
*-pkg.el
/smex-items
TAGS
/recentf
/url/cache/*
/abbrev_defs